

.participant-video-cover {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.participant-video-cover div video {
  border: 2.5px solid rgb(255, 255, 255);
}

.participant-image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 134px;
  width: 227px;
  background-color: #414141;
  border: 2.5px solid rgb(255, 255, 255);
  margin-bottom: 5px;
}

.participant-display-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgb(131, 131, 131);
  z-index: 10;
}

.h-52 {
  height: 52px;
}

.w-52 {
  width: 52px;
}

.participant-name {
  font-size: 1.5rem; 
  line-height: 2rem;
  color: white;
  margin: 0;
  padding: 0;
}