

.participant-grid-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

  @media(min-width: 768px){
    .participant-grid-container {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      margin: 12px;
    }

    .md-px-16 {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .md-px-14 {
      padding-top: 0.875rem;
      padding-bottom: 0.875rem;
    }

    .md-px-0 {
      padding-top: 0;
      padding-bottom: 0;
    }

    .md-py-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .md-py-4 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .md-py-8 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .md-max-w-7xl {
      max-width: 68rem; 
    }

    .md-max-w-lg {
      max-width: 32rem;
    }

  }

  @media(min-width: 1280px){

  }

  @media (min-width: 1536px) {
    .xl-max-w-1480{
      max-width: 1480px;
    }

    .xl-max-w-2xl {
      max-width: 42rem;
    }
  }

  .zero-flex-basis {
    flex-basis: 0;
  }